<div class="cardContainer">
  <div class="card" id='cardId'>
    <h1 class="heading">Heading</h1>
    <div class="container">
    <img class="image" src=https://pbs.twimg.com/profile_images/1496512709348798464/-19Uii-a_400x400.jpg>
    </img>
    <p class="paragraph"> Lorem Ipsum sentences: It usually begins with: “Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.” The purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout.
  </div>
  <div>
  <!-- <a href="//hax.psu.edu/">
   -->  <button class="detailsButton" id='detailsBtn'>Details</button>
  <!--   </a>
   --></div>
    <button class="cloneButton" id='clonePageButton'>Clone Page </button>
    <button class="backgroundButton" id="toggleCardBackgroundButton"> Toggle Card Background Color</button>
  <button class="headingButton" id="changeHeadingTextButton"> Change Heading Text</button>
    <button class="deleteLastButton" id="deleteLastCloneButton"> Delete Last Clone</button>
    </div>
  <!--Couldnt figure out hide paragraph in HTML  -->
  </div>
